@import '../../../../styles/scss/shared';

.wrapper {
  position: relative;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background: url('/suit1.webp') center center no-repeat;
  background-attachment: fixed;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}

.title {
  @include md {
    font-size: 4rem;
  }
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 2px;
  font-weight: 700;
}

.bigger {
  @include md {
    font-size: 6.5rem;
  }
  font-size: 3.5rem;
  line-height: 110%;
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  @include md {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.videoButton {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.75rem;
    font-size: 2rem;
  }
}

.joinButton {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  background: $main;
}

.interact {
  display: grid;
  align-items: center;
  grid-auto-flow: row dense;
  gap: 0.5rem;
  @include md {
    grid-auto-flow: column dense;
    gap: 1.5rem;
  }
}

.container {
  @extend .baseContainer;
  display: flex;
  margin: 0;
  z-index: 3;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 5vh;
}
