@import '../../../../styles/scss/shared.scss';

.wrapper {
  width: 100%;
  padding: 10vh 0;
}

.subtitle {
  color: $mainLight;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.el {
  display: grid;
  position: relative;
  text-align: center;
  h3 {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 110%;
    transition: color 0.3s ease;
  }
  &:hover h3 {
    color: $mainLight;
  }
}
