@import '../../../../styles/scss/shared.scss';

.wrapper {
  width: 100%;
  padding: 10vh 0;
}

.subtitle {
  color: $mainLight;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.el {
  display: grid;
  position: relative;
  text-align: center;
  h3 {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 110%;
    transition: color 0.3s ease;
  }
  &:hover h3 {
    color: $mainLight;
  }
}

.commite .imageGrid {
  @include md {
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  @extend .baseTitle;
  margin-bottom: 0.5rem;
}

.smallerTitle {
  @extend .title;
  font-size: 2.5rem;
  @include md {
    font-size: 3.5rem;
  }
}

.separator {
  background: rgba($color: #000000, $alpha: 0.5);
  height: 0.25rem;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;

  @include md {
    margin-top: 4.5rem;
    margin-bottom: 4rem;
  }
}

.container {
  @extend .baseContainer;
  display: flex;
  flex-direction: column;
}
