.baseContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0rem 1rem;
}

.baseTitle {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.imageGrid {
  display: grid;
  column-gap: 3rem;
  row-gap: 2rem;
  @include md {
    grid-template-columns: repeat(3, 1fr);
  }
}
